{% if auth and sample %}{% include "frontend/scripts/openapi/generated/auth-sample.d.ts" %}{% elif auth %}{% include "frontend/scripts/openapi/generated/auth.d.ts" %}{% elif sample %}{% include "frontend/scripts/openapi/generated/sample.d.ts" %}{% else %}{% include "frontend/scripts/openapi/generated/core.d.ts" %}{% endif -%}
